.topAlign{
    vertical-align: top;
}

.fatigue{
  color:gray;
  font-weight: bold;
}

.energy{
  color:#21ba45;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

.gray{
  color:lightgray;
}

.big{
  font-weight: bold;
  font-size: x-large;
}

.condition{
  color:#00b5ad;
  font-weight: bold;
}

th{
    background-color: lightgrey;
    padding: 5px;
}

.right{
    font-weight: bold;
    text-align: right;
}
.left{
    font-weight: bold;
    text-align: left;
}

.center{
    text-align: center;
}

.box{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    width : 300px;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
  }

  .hide{
    display:none;
    opacity: 0;
  }

  .appear {
    animation: fade-in 1s;
    animation-fill-mode: forwards;
    display: flex;
  }
  
  .disappear {
    animation: fade-out 1s;
    animation-fill-mode: forwards;
  }

  .name_td{
    width : 350px;
  }

  .price_td{
    width : 100px;
  }

  .seq_td{
    width : 50px;
  }

  .slider{
    height: 5px;
    width: 300px;
  }

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background:lightgray;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #8b4513;
    margin-top: -4px;
}

.step1{
  width : 350px;
  position: relative;
  text-align: center;
}

.step2{
  width : 175px;
  display : inline-flex;
  position: relative;
  text-align: center;
}

.step3{
  width : 120px;
  display : inline-flex;
  position: relative;
  text-align: center;
}

.step4{
  width : 90px;
  display : inline-flex;
  position: relative;
  text-align: center;
}

.step5{
  width : 70px;
  display : inline-flex;
  position: relative;
  text-align: center;
}

.centered5 {
  position: absolute;
  top: 70%;
  left: 10%;
  color : white;
  font-weight: bold;
  font-size:7px;
}

.centered4 {
  position: absolute;
  top: 70%;
  left: 30%;
  color : white;
  font-weight: bold;
  font-size:9px;
}

.centered3 {
  position: absolute;
  top: 70%;
  left: 30%;
  color : white;
  font-weight: bold;
  font-size:12px;
}

.centered2 {
  position: absolute;
  top: 70%;
  left: 30%;
  color : white;
  font-weight: bold;
  font-size:14px;
}

.centered1 {
  position: absolute;
  top: 70%;
  left: 30%;
  color : white;
  font-weight: bold;
  font-size:16px;
}